body {
  max-width: 600px;
  margin: 0 auto;
  /* the elements will be center-justified */
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;
  margin-left: 330px;
  /* Elements one and two take the max-width of 600 which is like a border-box */
  /* Element three must have left margin of 600 - [200+2(32)+2(3)] */
  /* max width - (width + padding + border) so its right justified */
}